<hr>
<div class="form-group">
    <label for=inputQuestion> <h2>Pergunta</h2></label>
    <input type="text" class="form-control" id="inputQuestion" placeholder="Adicione sua pergunta">
</div>
<%= render partial: "alternative" %>
<hr>
