<%= form.fields_for :questions do |question_form| %>
  <label> Questão </label>

  <div class="col-md-12">
    <%= question_form.text_field :title, placeholder: 'Título da questão', class: 'form-control' %>
  </div>

  <% 4.times { -%>
    <%= render "alternatives/alternative", question_form: question_form %>
  <% } %>
<% end %>
