<div class="form-row">
  <div class="col-md-10">
    <%= f.text_field :text, placeholder: 'Texto da alternativa correta', class: 'form-control' %>
  </div>
  <div class="col-md-2 correct-alternative">
    <%= image_tag ("correct_icon.svg"), class: 'correct-icon' %>
    <b> Correta </b>
  </div>
</div>
