<div class="form-row">
  <div class="col-md-10">
    <%= f.text_field :text, placeholder: 'Texto da alternativa incorreta', class: 'form-control' %>
  </div>
  <div class="col-md-2 incorrect-alternative">
    <%= image_tag ("incorrect_icon.svg"), class: 'incorrect-icon' %>
    <b> Incorreta </b>
  </div>
</div>
