<h3>Seu quiz foi criado com sucesso!</h3>
<br>
<div>
<h4> Código de acesso: <%= @quiz.code %></h4>
  <h4> ID de usuario: <%= @user.__id__ %></h4>
  <h4> ID de usuario: <%= @current_user.id %></h4>


</div>
