<h2>Relatórios sobre o quiz "<%= @quiz_title %>" </h2>
<% if @matches.any? %>
  <h3>Dados gerais</h3>
  <h4>Dados individuais ainda não disponíveis</h4>
  <span> Partidas jogadas: <%= @players %></span>
  <% @questions.each do |question| %>
    <p><%= question %></p>
  <% end %>
<% else %>
  <h3>Sem dados no momento</h3>
<% end %>