// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table.index-table td {
  text-align: left;
  width: 25%;
}

.container.quiz-container {
  max-width: 750px;
  padding: 10px;
  border-radius: 10px;
}

.correct-alternative {
  color: darkgreen;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.correct-icon {
  filter: invert(10%) sepia(69%) saturate(7060%) hue-rotate(136deg) brightness(99%) contrast(106%);
}

.incorrect-alternative {
  color: darkred;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.incorrect-icon {
  size: 100px;
  filter: invert(9%) sepia(93%) saturate(3620%) hue-rotate(359deg) brightness(109%) contrast(118%);
}
