// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container.signup-container {
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
}
